streamlit>=1.35.0
opencv-python-headless>=4.9.0
Pillow>=10.3.0
numpy==1.26.4
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchvision==0.17.2+cpu
ultralytics>=8.2.0
huggingface_hub>=0.22.0
tqdm>=4.66.0